.product-form {
  display: block;
  margin: 1rem auto;
  max-width: 20rem;
}

.product-form__title {
  text-decoration: underline;
}

.product-form__group {
  margin: 1rem 0;
}

.product-form__control {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
}

.product-form__error-message {
  color: #ff1500;
}

.product-form__date-group {
  margin-bottom: 1rem;
}

.product-form__price-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.product-form__price-wrapper {
  flex: 1;
}

.product-form__price {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0;
}

.product-form__actions {
  display: flex;
  justify-content: space-around;
}

.product-form__action-button {
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #ff1500;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.product-form__action-button--submit {
  background-color: #cddc39;
}

.product-form__action-button:hover {
  color: inherit;
}
