.selected-order {
  display: inline-block;
  width: 70%;
  position: relative;
  color: #2c3c44;
  align-items: center;
  column-gap: 0.5rem;
  background-color: #fff;
  border: 0.063rem solid #ddd;
  border-radius: 0.25rem;
  margin: 0.625rem;
}

.selected-order__close-button {
  cursor: pointer;
  position: absolute;
  top: -1.25rem;
  right: -1.25rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}

.selected-order__close-icon {
  height: 65%;
  width: 65%;
}

.selected-order__title {
  padding: 1rem;
}
