.type-selector {
  display: flex;
  gap: 1rem;
}

.type-selector__label {
  font-size: 1.25rem;
}

.type-selector__select {
  padding: 0.25rem 0.5rem;
  outline: none;
  border-color: #ddd;
  background-color: #fff;
}
