.typeSelector {
  display: flex;
  gap: 1rem;
  label {
    font-size: 1.25rem;
  }
  select {
    padding: 0.25rem 0.5rem;
    outline: none;
    border-color: #ddd;
    background-color: #fff;
  }
}
