.orderForm {
  display: block;
  margin: 1rem auto;
  max-width: 20rem;
  .form-group {
    margin: 1rem 0;
    .error-message {
      color: #ff1500;
    }
  }
  .actionButtons {
    display: flex;
    justify-content: space-around;
    button {
      padding: 0.25rem 1rem;
      border-radius: 1rem;
      border: none;
      background-color: transparent;
      font-weight: 600;
      text-transform: uppercase;
      background-color: #ff1500;
      color: #fff;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      &[type='submit'] {
        background-color: #cddc39;
      }
      &:hover {
        color: inherit;
      }
    }
  }
}

.orderFormTitle {
  text-decoration: underline;
}
